<!DOCTYPE html>
<html>
  <head>
    <title>Assemble</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <%= yield %>

  <%= render "/layouts/bootstrap_js_data" %>

  <script>
    <%= yield :javascripts %>
  </script>

  <%= render "/layouts/javascript_includes" %>

  </body>
</html>
